version: '3'
services:
  app:
    container_name: mailer
    image: josnelihurt/mailer-go:latest
    restart: always
    volumes:
      - ./cmd/mailer/config.yaml:/app/config.yaml
    # For GSM modem access, use host network and device passthrough
    # network_mode: host
    # devices:
    #   - /dev/ttyUSB0:/dev/ttyUSB0
