version: '3'
services:
  app:
    container_name: mailer
    image: josnelihurt/mailer-go:latest
    restart: always
    network_mode: host
    security_opt:
      - apparmor=unconfined
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - /opt/mailer-go/config.yaml:/app/config.yaml
